{
	"env": {
		"browser": true,
		"es2021": true,
		"node": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:react-hooks/recommended"
	],
	"overrides": [],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"plugins": ["react", "@typescript-eslint"],
	"settings": {
		"react": {
			"version": "detect"
		}
	},
	"rules": {
		"react/react-in-jsx-scope": "off",
		"no-restricted-imports": ["error", { "patterns": ["../"] }],
		"@typescript-eslint/no-unused-vars": "error",
		"@typescript-eslint/no-use-before-define": "error",
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "error"
	}
}
