NODE_ENV=development # development | test | production

POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DB=fluxogramas-interativos

PRISMA_DATABASE_URL=postgresql://root:root@db/fluxogramas-interativos

SERVER_PORT=3000
SERVER_URL=http://localhost:3000
SERVER_JWT_SECRET=secret
SERVER_LOG_LEVEL=DBG # DBG | INF | WRN | ERR | DISABLED