NODE_ENV=development # development | test | production

POSTGRES_USER=root # local only
POSTGRES_PASSWORD=root # local only
POSTGRES_DB=fluxogramas-interativos # local only

PRISMA_DATABASE_URL=postgresql://root:root@db/fluxogramas-interativos

SERVER_PORT=3000
SERVER_LOCAL_PORT=3001 # local only
SERVER_LOG_LEVEL=DBG # DBG | INF | WRN | ERR | DISABLED
SERVER_CORS_ORIGIN=http://localhost:5173/,https://fluxogramas-interativos-ufsj.vercel.app/

ACCESS_TOKEN_SECRET=secret
REFRESH_TOKEN_SECRET=secret
ACCESS_TOKEN_EXPIRATION=15m
REFRESH_TOKEN_EXPIRATION=7d